!!!
%html
  %head
    %title Weblog40
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    %nav
      - if !user_signed_in?
        = link_to "Sign up", new_user_registration_path
        = link_to "Sign in", new_user_session_path
      - else
        = "Signed in as #{current_user.email}"

    - flash.each do |key, value|
      %div.flash{:id => "#{key}"} 
        = value
    = yield
